.root {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}

.brick {
    margin: 8px 0 0 8px;
    width: 170px;
    height: 170px;

    @media screen and (max-width: 720px) {
        width: calc(25vw - 10px);
        height: calc(25vw - 10px);
    }
}