<div class="root">
  <app-board [bricks]="bricks$|async" (brickPress)="onBrickPress($event)"></app-board>
  <div class="control-container">
    <div class="control">
      <div class="control-button" [class.active]="recorder.recording" (click)="toggleRecord()">
        <img class="control-button-icon" src="assets/images/ic_recording.svg" />
      </div>
      <div class="control-button" [class.disabled]="sheet.data.length === 0" (click)="play()">
        <img class="control-button-icon" [src]="playing ? 'assets/images/ic_pause.svg':'assets/images/ic_play.svg'" />
      </div>
      <div class="control-button" (click)="stop()">
        <img class="control-button-icon" src="assets/images/ic_stop.svg" />
      </div>
      <div class="spacer"></div>
      <div class="control-button" [class.disabled]="sheet.data.length === 0" (click)="save()">
        <img class="control-button-icon" src="assets/images/ic_share.svg" />
      </div>
    </div>
  </div>
  <app-timeline [sheet]="sheet" (stateChange)="onTimelineStateChange($event)"></app-timeline>
</div>
