<button (click)="play()">Play</button>

<div *ngIf="!readOnly" class="timeline" dnd-sortable-container [sortableData]="sections" [dropZones]="['delete-dropZone']">
  <app-section *ngFor="let section of sheet.data; let i = index" dnd-sortable [sortableIndex]="i" [section]="section"></app-section>
</div>
<div *ngIf="readOnly" class="timeline">
  <app-section *ngFor="let section of sheet.data; let i = index" [section]="section"></app-section>
</div>

<div *ngIf="!readOnly" class="recycle-bin" dnd-sortable-container [dropZones]="['delete-dropZone']" [sortableData]="listRecycled">
    Recycle bin: Drag into me to delete it<br/>
</div>