.root{
    border-radius: 8px;
    background-color: #555;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.note {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 2px;
    top: 50%;
    transform: translateY(-50%);
}